/* Generla styles */

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
  transition: ease-in;
  animation-duration: 3s;
}

p {
  color: var(--text-default-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--text-default-color);
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Robot", sans-serif;
  --background-color: #ffffff;
  --text-default-color: #000000;
  --burguer-content-background: #ffffff;
  --border-main-color: #000000;
  --button-color: #000000;
  --button-icon-color: #ffffff;
  --icon-default-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-default-color: #ffffff;
  --burguer-content-background: #000000;
  --border-main-color: #ffffff;
  --button-color: #ffffff;
  --button-icon-color: #000000;
  --icon-default-color: #fdfdfd;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 12px;
  font-weight: 100;
  z-index: 1000;
}

.loading-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  height: 10px;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l1 2s linear;
  margin-top: 15px;
}
@keyframes l1 {
  100% {
    background-size: 100%;
  }
}

.main-container {
  padding: 25px;
  height: calc(100vh - 50px); /* 100vh minus 25px padding top and bottom */
  width: calc(100vw - 50px); /* 100vw minus 25px padding left and right */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    "nav"
    "main-content"
    "footer";
}

@media (min-width: 768px) {
  .main-container {
    padding: 25px;
    height: calc(100vh - 50px); /* 100vh minus 25px padding top and bottom */
    width: calc(100vw - 50px); /* 100vw minus 25px padding left and right */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas:
      "nav nav nav nav"
      "main-content main-content main-content main-content"
      "footer footer footer footer";
  }
}

/* nav burguer */

.burger-button {
  background-color: white;
  padding-right: 15px;
  cursor: pointer;
}

.burger-button:focus {
  outline: none;
  border: none;
}

.burger-button:hover {
  outline: none;
  border: none;
}

.burger-button:active {
  outline: none;
  border: none;
}

.burger-button::visible {
  outline: none;
  border: none;
}

.burger-button > svg {
  width: 30px;
  height: 30px;
}
.burger-content-container {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 300px;
  height: auto;
  background-color: var(--burguer-content-background);
  z-index: 1000;
  justify-content: left;
  align-items: left;
  border: 0.5px solid var(--border-main-color);
  -webkit-box-shadow: 10px 0px 59px -20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 0px 59px -20px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 59px -20px rgba(0, 0, 0, 0.25);
}

.burger-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: flex-start;
}

.head-handlres-burguer {
  display: flex;
  justify-content: space-between;
}

.close-button {
  border: none;
  background-color: unset;
  color: var(--burguer_icon);
}

.close-button:focus {
  outline: none;
}

.close-button > svg {
  width: 40px;
  height: 40px;
}

.nav-handlers-burguer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-top: 0.5px solid var(--border-main-color);
}

.nav-links-burguer {
  width: 100%;
}

.nav-links-burguer ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.nav-links-burguer ul li {
  width: 100%;
  height: 60px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  justify-content: start;
  align-items: center;
  border-bottom: 0.5px solid var(--border-main-color);
}
.nav-links-burguer ul li p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  padding-left: 30px;
}

.socials > svg {
  color: var(--icon-default-color);
}

.socials-burguer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid var(--border-main-color);
}

.socials-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 0.5px solid var(--border-main-color);
}

.icon-hidden > svg {
  width: 25px;
  height: 25px;
  color: var(--icon-default-color);
}

.icon-hidden > a > svg {
  width: 25px;
  height: 25px;
  color: var(--icon-default-color);
}

.icon-hidden > a {
  color: var(--icon-default-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 0.5px solid var(--border-main-color);
}

.icon > svg {
  width: 50px;
  height: 50px;
  color: var(--icon-default-color);
}

.brand-behance {
  font-size: 27px;
  color: var(--icon-default-color);
}

.nav-actions {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}
.darkmode-burguer .download-burguer .qr-code-burguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 0.5px solid var(--border-main-color);
}

.darkmode-burguer > svg {
  width: 50px;
  height: 50px;
}

.download-burguer > svg {
  width: 50px;
  height: 50px;
}

/* complete nav styles  */
.nav {
  grid-area: nav;
  background-color: var(--background-color);
  border: 0.5px solid var(--border-main-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-logo {
  width: 160px;
  height: 60px;
  border-right: 0.5px solid var(--border-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: var(--text-default-color);
}

.nav-handlers {
  display: flex;
}

.nav-links {
  width: 200px;
  height: 60px;
  border-right: 0.5px solid var(--border-main-color);
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

.socials {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-main-color);
}

.socials-hidden {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
}

.download {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-main-color);
}

.download > svg {
  color: var(--icon-default-color);
}

.qr-code {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer styles */

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  border: 0.5px solid var(--border-main-color);
}

.footer > span {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: var(--text-default-color);
}

/* landing styles */

.landing-container {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 200px 60px auto auto;
  grid-template-areas:
    "hero"
    "info"
    "techs"
    "carousel";
  border-inline: 0.5px solid var(--border-main-color);
}

@media (min-width: 768px) {
  .landing-container {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 50px 1fr;
    grid-template-areas:
      "hero hero info info"
      "techs techs techs techs"
      "carousel carousel carousel carousel";
    border-inline: 0.5px solid var(--border-main-color);
  }
}

/* Hero styles */

.hero {
  grid-area: hero;
  margin: 0;
  padding: 0;
}

.hero-title {
  padding: 20px;
}

.hero-title > h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: var(--text-default-color);
}

.hero-content {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: var(--text-default-color);
  padding-inline: 20px;
  word-break: break;
}

@media (min-width: 768px) {
  .hero {
    grid-area: hero;
    border-right: 0.5px solid var(--border-main-color);
    margin: 0;
    padding: 0;
  }

  .hero-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: var(--text-default-color);
    padding: 20px;
  }

  .hero-content {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: var(--text-default-color);
    padding-inline: 20px;
    word-break: break;
    padding-top: 20px;
  }
}

.info {
  grid-area: info;
  background-color: #807272;
}

/* Tech cards styles */

.techs {
  grid-area: techs;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  position: inherit;
  display: flex;
  flex-direction: row;
  height: 100%;
  cursor: grab;
  border-bottom: 0.5px solid var(--border-main-color);
  align-items: center;
  padding-block: 10px;
}

.techs::-webkit-scrollbar {
  height: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.techs-container {
  width: 100%;
  overflow: hidden; /* Evita que los elementos sobresalgan */
  position: relative;
}

.techs-items {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.techs-slider {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: scroll;
}

.tech-card {
  width: auto;
  height: 50px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid var(--border-main-color);
  border-block: 0.5px solid var(--border-main-color);
}

.tech-card > span {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: var(--text-default-color);
}

/* Carousel styles */

.carousel {
  grid-area: carousel;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  position: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 750px;
  margin-top: 10px;
}

/* .carousel:hover{
  scrollbar-width: auto;
} */

.carousel::-webkit-scrollbar {
  height: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 550px) {
  .carousel {
    flex-direction: column;
    gap: 5px;
  }
}

/* Carousel project-cards styles */

.project-card {
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid var(--border-main-color);
  width: 100%;
  height: auto;
}

/* .project-card-handler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 0.5px solid var(--border-main-color);
  height: 65px;
} */

/* .project-card-handler > h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding-inline: 20px;
} */

.project-card-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

@media (min-width: 768px) {
  .project-card-img {
    width: 100%;
    height: 600px;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
  }
}

.description {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-inline: 20px;
}
.project-visit {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
}

.project-visit > svg {
  width: 30px;
  height: 30px;
  color: var(--button-icon-color);
  padding: 10px;
}

/* Dark mode styles */

.darkmode {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-main-color);
}

.darkmode > svg {
  width: 30px;
  height: 30px;
}

/* .darkmode:hover{

  
  background-color: var(--body_sumbit_button);
  border: 1px solid var(--body_color);
  border-radius: 30px;
  color:var(--body_sumbit_button_text);

} */

.dark-mode-handler {
  display: flex;
}

.dark-mode-handler > svg {
  color: var(--icon-default-color);
}

/* Project page styles */

.project-detail {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  border-inline: 0.5px solid var(--border-main-color);
}

.visual-carousel {
  overflow-y: auto;
  white-space: nowrap;
  position: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 360px;
}


.visual-carousel::-webkit-scrollbar {
  height: 0.5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.visual-carousel-img {
  width: 100%;
  height: 600px;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

.project-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 0.5px solid var(--border-main-color);
}

.project-title > h2 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding-left: 20px;
}

.project-title > p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding: 20px;
}

.project-description {
  padding: 20px;
  word-break: break-all;
}

.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-left: 0.5px solid var(--border-main-color);
  border-block: 0.5px solid var(--border-main-color);
}

.tag-card {
  width: 100%;
  border-right: 0.5px solid var(--border-main-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tag-card > span {
  font-size: 0.9rem;
  font-weight: 700;
  font-style: italic;
}

.important-data {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
  padding-block: 10px;
  border-block: 0.5px solid var(--border-main-color);
}

.important-data > p {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

@media (min-width: 800px) {
  .project-detail {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr 1fr 370px;
    grid-template-rows: auto;
    grid-template-areas: "visual visual description";
    height: 100%;
  }

  .project-detail-hidden {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr 1fr 370px;
    grid-template-rows: auto;
    grid-template-areas: "visual visual visual";
    height: 100%;
  }

  .visual-carousel {
    grid-area: visual;
    column-span: 3fr;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .project-carousel-card{

    display: flex;
    flex-direction: column;
    border-right: 0.5px solid var(--border-main-color);
    width: 100%;
    height: auto;

  }

  .visual-carousel > img {
    width: 100%;
    height: max-content;
  }

  .project-content {
    grid-area: description;
    border-left: 0.5px solid var(--border-main-color);
    border-top: 0;
    position: relative;
  }

  .handler-content {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    right: 25px;
    top: 84px;
    width: auto;
    height: 66px;
    border: 0.5px solid var(--border-main-color);
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding-inline: 20px;
    background-color: var(--background-color);
  }

  .handler-content:hover .content-icon {
    transform: translateX(-10px);
    margin-left: 10px;
    transition: transform 0.1s ease-in-out;
  }

  .close-handler {
    width: auto;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    border-right: 0.5px solid var(--border-main-color);
    transition: all 0.3s ease-in-out;
  }

  .close-handler:hover .close-icon {
    transform: translateX(10px);
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
  }
  .project-description {
    padding: 20px;
    height: 470px;
    overflow-y: scroll;
    word-break: break-all;
    scroll-behavior: smooth;
  }

  .description-header {
    flex-direction: column;
    width: 100%;
  }

  .project-tags {
    width: auto;
    width: auto;
    border-bottom: 0.5px solid var(--border-main-color);
  }

  .important-data {
    margin-top: 15px;
    width: auto;
    border-inline: 0.5px solid var(--border-main-color);
    border-top: 0.5px solid var(--border-main-color);
  }
}

/* About styles */

.about-section {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "about-picture"
    "about-title"
    "about-content";
  border-inline: 0.5px solid var(--border-main-color);
}

.about-picture {
  grid-area: about-picture;
  display: flex;
  justify-content: center;
}

.about-picture > img {
  max-width: 100%;
  height: auto;
}

.about-title {
  grid-area: about-title;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid var(--border-main-color);
}
.about-title > h2 {
  font-size: clamp(1.3rem, 8vw, 3rem);
  font-style: italic;
  padding-inline: 15px;
  padding-top: 15px;
}
.about-title > span {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 100;
  padding-inline: 15px;
  padding-bottom: 15px;
  font-style: italic;
  word-break: normal;
}

.about-content {
  grid-area: about-content;
  display: flex;
  justify-content: flex-start;
}
.about-content > p {
  font-size: 1rem;
  font-weight: 100;
  padding-inline: 15px;
  padding-block: 15px;
}

.hobbies {
  display: none;
}

@media (min-width: 768px) {
  .about-section {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: minmax(280px, 300px) auto;
    grid-template-areas:
      "about-title about-picture"
      "about-content hobbies";
    border-inline: 0.5px solid var(--border-main-color);
  }

  .about-picture {
    grid-area: about-picture;
    width: 100%;
    position: inherit;
    overflow: hidden;
    border-bottom: 0.5px solid var(--border-main-color);
  }

  .about-picture > img {
    width: 100%;
    height: 150px;
  }

  .about-title {
    grid-area: about-title;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid var(--border-main-color);
    border-right: 0.5px solid var(--border-main-color);
  }
  .about-title > h2 {
    font-size: clamp(2.5rem, 10vw, 4rem);
    font-style: italic;
    padding-inline: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    line-height: 3.2rem;
  }
  .about-title > span {
    font-size: clamp(1.6rem, 8vw, 2.5rem);
    font-weight: 100;
    padding-left: 20px;
    padding-right: 18px;
    font-style: italic;
  }

  .about-content {
    grid-area: about-content;
    border-right: 0.5px solid var(--border-main-color);
  }

  .about-content > p {
    font-size: 1rem;
    font-weight: 100;
  }

  .hobbies {
    grid-area: hobbies;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .hobbies-list {
    height: 330px;
  }

  .hobbies :nth-child(1) {
    border-top: 0;
  }
  .hobbies :only-child {
    border-right: 0;
  }
}
